<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-3">
        <div class="container-fluid">    
            <div class="navbar-header">
                <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
            
                <ul class="nav navbar  justify-content-end" ">
                    <li class="nav-item"><a class="nav-link"style="color: azure !important;" href="/">Login</a></li>
                    <li class="nav-item"><a class="nav-link"style="color: azure !important;" href="/">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link"style="color: azure !important;" href="/">Logout</a></li>
                </ul>
            
        </div>
    </nav>

    